.swal2-confirm,
.btn {
    box-shadow: none !important;
}

/* INIT PRIMARY */
.swal2-confirm,
.bg-primary {
    background-color: #78f3df !important;
    color: white !important;
    font-size: small;
}

.text-primary {
    color: #78f3df !important;
}

.btn-outline-primary {
    border: 1px solid #78f3df !important;
    background-color: transparent;
    color: #78f3df;
}

.btn-primary,
.btn-primary:focus {
    background-color: #78f3df !important;
    color: rgb(255, 255, 255) !important;
    border-color: #78f3df !important;
    font-size: small;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: #78f3df !important;
}

.border-primary {
    border-color: #78f3df !important;
    background-color: #78f3df !important;
}

/* END PRIMARY */

/* INIT SECONDARY */
.text-secondary {
    color: #FCB144 !important;
}

.bg-secondary {
    background-color: #FCB144 !important;
}

.btn-secondary,
.btn-secondary:focus {
    background-color: #FCB144 !important;
    color: white !important;
    border-color: #FCB144 !important;
    font-size: small;
}

.btn-outline-secondary {
    border-color: #FCB144 !important;
    color: #FCB144 !important;
}


.btn-secondary:hover {
    background-color: #cd9136 !important;
    color: white !important;
}

.border-secondary {
    border-color: #FCB144 !important;
    background-color: #FCB144 !important;
}

/* END SECONDARY */


.accordion {
    --bs-accordion-bg: #78f3df !important;
    --bs-accordion-color: white !important;
    --bs-accordion-btn-color: white !important;
    --bs-accordion-border-color: #78f3df !important;

    --bs-accordion-active-color: #FCB144 !important;
    --bs-accordion-active-bg: #78f3df !important;
    --bs-accordion-btn-focus-border-color: #00 !important;
    --bs-accordion-btn-focus-box-shadow: #78f3df !important;

    /* --bs-accordion-btn-icon: url('../image/icons/angle-down.svg') !important; */
    /* --bs-accordion-btn-active-icon: url('../image/icons/angle-up.svg') !important; */

}

.accordion-button:not(.collapsed)::after {
    /* background-image: url('../image/icons/angle-up.svg') !important; */
    background-size: 70% !important;
    margin-top: -25px !important;
    margin-right: 4.5px !important;
}

.accordion-button:not(.collapsed)::before {
    margin-top: -25px !important;
    margin-right: 10px !important;
}

.accordion-button::after {
    /* background-image: url('../image/icons/angle-down.svg') !important; */
    background-size: 70% !important;
}


.carousel-control-next-icon {
    margin-bottom: 50% !important;
    /* background-image: url('../image/icons/angle-right.svg') !important; */
    background-size: 35% !important;
}

.carousel-control-prev-icon {
    margin-bottom: 50% !important;
    /* background-image: url('../image/icons/angle-left.svg') !important; */
    background-size: 35% !important;
}

.carousel-indicators [data-bs-target] {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: black;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border-color: #FCB144 !important;
    box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
    outline: 0 none !important;
    background-color: transparent;
}

.form-control {
    border: 1px solid #78f3df;
    background-color: transparent !important;
}

.card-lp {
    border-radius: 25px;
}

.fs-7 {
    font-size: small !important;
}

.text-gray {
    color: #6c757d;
}

.form-control-lg::placeholder {
    font-size: 14px;
    font-weight: bold;
    opacity: .6;
    color: #78f3df;
}

input[type="checkbox"]:focus {
    border-color: #78f3df !important;
    box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
    outline: 0 none !important;
}

.form-check-input {
    background-color: #F0F0F0;
    border-color: #78f3df;
    padding: 7px;
}

.form-check-input:checked {
    background-color: #78f3df;
    border-color: #78f3df;
}

.text-white {
    color: white !important;
}

.form-partners:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset !important;
    /* -webkit-text-fill-color: #f8f8f8 !important; */
}


.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: none !important;
}

.swiper-button-next:after {
    /* background-image: url('../image/icons/angle-right.svg') !important; */
    background-size: 25% !important;
    margin-bottom: 50%;
}

.swiper-button-prev:after {
    /* background-image: url('../image/icons/angle-left.svg') !important; */
    background-size: 25% !important;
    margin-bottom: 50%;
}