.margin-header-text {
    margin: 10%;
}

.margin-div {
    margin: 5rem !important;
}

.paddin-div {
    padding: 5rem !important;
}

.card-how-it-works {
    height: 250px !important;
    min-width: 270px !important;
    max-width: 270px !important;
}

.card-how-it-works-desktop {
    height: 270px !important;
    min-width: 270px !important;
    max-width: 270px !important;
}

.row-journal {
    --bs-gutter-x: 0.7rem;
}

a.text-gray {
    text-decoration: none;
}

a.text-gray:hover {
    color: gray;
}

.label-journal {
    line-height: 1.4 !important;
}

.btn-enter:hover {
    background-color: #FCB144 !important;
    color: white !important;
    border-color: #FCB144 !important;
    font-size: small;
}

.bottom-nav-active {
    border-bottom: 2px solid #FCB144 !important;
    width: 50% !important;
    font-weight: bold !important;
}

.bottom-nav-no-active {
    border-bottom: 2px solid transparent !important;
    width: 50% !important;
    font-weight: bold !important;
}

@media (max-width: 1000px) {

    .nav-item {
        font-size: small !important;
    }
}

.text-x-small {
    font-size: x-small !important;
}

.text-xx-small {
    font-size: xx-small !important;
}

.text-small {
    font-size: small !important;
}

.text-smaller {
    font-size: smaller !important;
}

.text-medium {
    font-size: medium !important;
}

.mt-10 {
    margin-top: 72px;
}

.border-size {
    width: 5% !important;
    border-width: 3px !important;
    border-radius: 25px;
}

.border-size-footer {
    width: 12% !important;
    border-width: 3px !important;
    border-radius: 25px;
}

.center {
    margin: auto;
    width: 50%;
}

.icon {
    width: 60px;
    height: 60px;
}

.icon-min {
    margin-top: -40px !important;
    margin-left: -15px !important;
    width: 30px;
    height: 30px;
    font-size: medium;
}

@media (min-width: 991px) {

    .border-rounded-top-left {
        border-top-left-radius: 120px !important;
    }
}

@media (max-width: 991px) {
    .border-rounded-top-left {
        border-top-left-radius: 45px !important;
        border-top-right-radius: 45px !important;
    }
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.graphic:hover {
    transform: scale(1.03) !important;
    /* box-shadow: 3px 3px #888888 !important; */
}

.wave-l {
    margin-top: -600px;
    z-index: -100;
}

.wave-r {
    margin-top: -640px;
    z-index: -100;

}

.h2-inklo {
    font-size: medium;
    line-height: 2;
}

p {
    line-height: 2 !important;
}

.title-inklo {
    font-size: 2.4rem;
}


/* MIDIA QUERY */

@media (max-width: 1396px) {

    .title-card,
    .label-card {
        font-size: 0.8rem !important;
    }

    .margin-div {
        margin: 4.5rem !important;
    }

    .paddin-div {
        padding: 4.5rem !important;
    }

}

@media (max-width: 1383px) {
    .label-card {
        font-size: 0.7rem !important;
    }

    .title-inklo-midia-query {
        font-size: 2.0rem !important;
    }

    .label-inklo-midia-query {
        font-size: 0.8rem !important;
    }

    .avatar {
        max-width: 50px !important;
    }

    .text-avatar {
        font-size: smaller;
    }

    .label-avatar {
        font-size: small;
    }

    .margin-div {
        margin: 4rem !important;
    }

    .paddin-div {
        padding: 4rem !important;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 92% !important;
    }
}

@media (max-width: 1212px) {
    .title-inklo-midia-query {
        font-size: 1.6rem !important;
    }

    .label-inklo-midia-query {
        font-size: 0.6rem !important;
    }

    .text-avatar,
    .label-journal,
    .text-avatar-city,
    .label-avatar,
    .materia-completa {
        font-size: small;
    }

    .margin-div {
        margin: 3.5rem !important;
    }

    .paddin-div {
        padding: 3.5rem !important;
    }
}

@media (max-width: 1125px) {
    .title-card {
        font-size: 0.7rem;
    }

    .label-card {
        font-size: xx-small !important;
    }

    .title-inklo-midia-query {
        font-size: 1.4rem !important;
    }

    .text-carousel {
        font-size: 1.4rem !important;
    }

    .text-avatar {
        font-size: smaller;
    }

    .text-avatar-city {
        font-size: x-small !important;
    }

    .margin-div {
        margin: 3rem !important;
    }

    .paddin-div {
        padding: 3rem !important;
    }

}

@media (max-width: 991px) {
    .title-inklo {
        font-size: 2rem !important;
    }

    .border-size {
        width: 14% !important;
        border-width: 1.5px !important;
        background-color: #FCB144;
    }

    .sub-title-card,
    .label-card {
        font-size: medium;
    }

    .title-card {
        font-size: 1.2rem !important;
    }

    .title-inklo-midia-query {
        font-size: 2rem !important;
    }

    .label-inklo-midia-query {
        font-size: 0.73rem !important;
    }

    .text-carousel {
        font-size: 1.5rem !important;
    }

    .porcent-graphic {
        font-size: 1.2rem !important;
    }

    .text-xx-small {
        font-size: medium !important;
    }

    .text-x-small {
        font-size: medium !important;
    }

    .text-medium {
        font-size: medium !important;
    }

    .margin-div {
        margin: 1.5rem !important;
    }

    .paddin-div {
        padding: 1.5rem !important;
    }

    .paddin-div-mobile {
        padding: 1.2rem !important;
    }

    .label-graphic {
        font-size: large !important
    }

    .logo-graphic {
        width: 100px;
    }

    .card-client-mobile {
        width: 400px !important;
        height: auto !important;
        text-align: left;
    }



}

@media (max-width: 766px) {
    .title-inklo {
        font-size: 2rem !important;
    }

    .border-size {
        width: 14% !important;
        border-width: 1.5px !important;
        background-color: #FCB144;
    }

    .mt-m-0 {
        margin-top: -30px !important;
    }

    .sub-title-card,
    .label-card {
        font-size: 11px !important;
    }

    .title-card {
        font-size: 1rem;
    }

    .title-inklo-midia-query {
        font-size: 1.5rem !important;
    }

    .label-inklo-midia-query {
        font-size: 0.73rem !important;
    }

    .porcent-graphic {
        font-size: 1.2rem !important;
    }

    .text-xx-small {
        font-size: 9px !important;
    }

    .text-small,
    .text-x-small {
        font-size: 12px !important;
    }

    .text-medium {
        font-size: smaller !important;
    }

    .margin-div {
        margin: 1.2rem !important;
    }

    .paddin-div {
        padding: 1.2rem !important;
    }

    .paddin-div-mobile {
        padding: 0rem !important;
    }

    .label-graphic {
        font-size: 8px !important
    }



    .card-client {
        width: 270px !important;
        height: auto !important;
        text-align: left;
    }

}

.paddin-footer {
    padding: 2rem !important;
}

.nav-link-mobile {
    padding: 0px !important;
    margin: 0px !important;
}

.card-journal-mobile {
    width: 250px !important;
}

.card-journal {
    width: 350px !important;
}


.focus-true {
    opacity: 1 !important;
}

.focus-false {
    opacity: 0.65 !important;
}

.form-partners {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
    padding-left: 0px;
    border-color: gray;
    margin-top: 1rem;
}

.form-partners::placeholder {
    color: #9F9F9F;
}

.modal-body-lp {
    background-color: #F5F5F5;
    border: transparent;
    border-radius: 25px !important;
}

.border-danger-bottom {
    border-color: #dc3545;

}

.scroll-modal {
    height: 35rem;
    padding: 4rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.text-alert {
    font-size: x-small;
}


select:required:invalid {
    color: gray !important;
}

option[value=""][disabled] {
    display: none !important;
}

option {
    color: black !important;
}

.no-link {
    text-decoration: none;
}

#contato,
#faq {
    scroll-margin-top: 100px;
}

#inklo-na-midia {
    scroll-margin-top: 110px;
}

#como-funciona {
    scroll-margin-top: 120px;
}


.label-mobile {
    font-size: 15px !important;
    line-height: 20px !important;
}

.title-card-mobile {
    text-transform: uppercase;
    font-size: 20px !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.title-form-mobile {
    font-size: 2rem !important;
}

.text-nav-bar-mobile {
    font-size: 1.5rem !important;
}

.label-botton-mobile {
    font-size: 10px !important;
}

.label-botton-padding-mobile {
    padding-right: 4px !important;
    padding-left: 4px !important;
}